<!DOCTYPE html>
<html lang="en" xmnls:th="http://www.thymeleaf.org">
<head>
	<title>Form Product</title>
</head>
<body>
	<form method="POST" th:object="${product}" th:action="@{/product/save}">
		<input type="hidden" th:field="*{id}"/>
		<table border = "1">
			<tr>
				<td>Product Code</td>
				<td><input type="text" th:field="*{productCode}"/></td>
			</tr>
			<tr>
				<td>Varian</td>
				<td>
					<select th:field="*{variantId}">
						<option th:each="item:${ listvariant }"
							th:text="${item.variantName}" th:value="${item.id}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Product Name</td>
				<td><input type="text" th:field="*{productName}"/></td>
			</tr>
			<tr>
				<td>Product Description</td>
				<td><input type="text" th:field="*{productDescription}"/></td>
			</tr>
			<tr>
				<td>Product Price</td>
				<td><input type="text" th:field="*{productPrice}"/></td>
			</tr>
			<tr>
				<td>Product Stock</td>
				<td><input type="text" th:field="*{productStock}"/></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Save"/></td>
			</tr>
		</table>
	</form>
</body>
</html>