<!DOCTYPE html>
<html lang="en" xmnls:th="http://www.thymeleaf.org">
<head>
	<title>Product</title>
</head>
<body>
	<h3>Product List</h3>
	<button onclick="window.location.href='/product/addform'">Tambah Data</button>
	<table border = "1">
		<thead>
			<th>Product Code</th>
			<th>Varian</th>
			<th>Product Name</th>
			<th>Product Description</th>
			<th>Product Price</th>
			<th>Product Stock</th>
			<th colspan = "2">Action</th>
		</thead>
		
		<tbody>
			<tr th:each="item:${ listproduct }">
			<td th:text="${ item.productCode }"></td>
			<td th:text="${ item.variant.variantName } + ' / ' + ${ item.variant.category.categoryName }"></td>
			<td th:text="${ item.productName }"></td>
			<td th:text="${ item.productDescription }"></td>
			<td th:text="${ item.productPrice }"></td>
			<td th:text="${ item.productStock }"></td>
			<td><a th:href="@{/product/edit/{id}(id=${item.id})}">Edit</a></td>
			<td><a th:href="@{/product/delete/{id}(id=${item.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>