<!DOCTYPE html>
<html lang="en" xmnls:th="http://www.thmyeleaf.org">
<head>
	<title>Form Variant</title>
</head>
<body>
	<form method="POST" th:object="${variant}" th:action="@{/variant/save}">
		<input type="hidden" th:field="*{id}" />
		<table border = "1">
			<tr>
				<td>Category</td>
				<td>
					<select th:field="*{categoryId}">
						<option th:each="item:${ listcategory }"
							th:text="${item.categoryName}" th:value="${item.id}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Variant Code</td>
				<td><input type="text" th:field="*{variantCode}"/></td>
			</tr>
			<tr>
				<td>Variant Name</td>
				<td><input type="text" th:field="*{variantName}"/></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Save"/></td>
			</tr>
		</table>
	</form>
</body>
</html>