<!DOCTYPE html>
<html lang="en" xmnls:th="http://www.thmyeleaf.org">
<head>
	<title>Variant</title>
</head>

<body>
	<h3>Variant List</h3>
	<button onclick ="window.location.href='/variant/addform'">Tambah Data</button>
	<table border = "1">
		<thead>
			<th>Variant Code</th>
			<th>Category Name</th>
			<th>Variant Name</th>
			<th colspan = "2">Action</th>
		</thead>
		<tbody>
			<tr th:each="item:${ listvariant }">
				<td th:text="${ item.variantCode }"></td>
				<td th:text="${ item.category.categoryName }"></td>
				<td th:text="${ item.variantName }"></td>
				<td>
					<a th:href="@{/variant/edit/{id}(id=${item.id})}">Edit</a>
				</td>
				<td>
					<a th:href="@{/variant/delete/{id}(id=${item.id})}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>