<!DOCTYPE html>
<html lang="en" xmnls:th="http://www.thmyeleaf.org">
<head>
	<title>Category</title>
</head>
<body>
	<h3>Category List</h3>
	<button onclick= "window.location.href='/category/addform'">Tambah Data</button>
	<table border = "1">
		<thead>
			<th>Category Code</th>
			<th>Category Name</th>
			<th colspan = "2">Action</th>
		</thead>
		
		<tbody>
			<tr th:each="item:${ listcategory }">
				<td th:text="${ item.categoryCode }"></td>
				<td th:text="${ item.categoryName }"></td>
				<td>
					<a th:href="@{/category/edit/{id}(id=${item.id})}">Edit</a>
				</td>
				<td>
					<a th:href="@{/category/delete/{id}(id=${item.id})}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>